*,
*::before,
*::after {box-sizing: border-box;}
html {width: 100%; min-height: 100%; height:100%; scroll-behavior: smooth;}
body {font-family: 'Lato', sans-serif;  height:100%; color: #444; font-size: 14px; font-weight: 400; padding: 0px; margin: 0px;}
h1,
h2,
h3,
h4,
h5,
h6 { }
img { max-width: 100%; }
p { margin: 0; padding: 0; line-height:1.5;  }
a { text-decoration: none; transition:  .2s ease; }
a:hover { text-decoration: none; }
ul { list-style: none; }
.no-pad { padding: 0 !important; }
.no-spacing{ margin: 0 !important; }
.no-pad-rt { padding-right: 0!important; }
.no-pad-lft { padding-left: 0!important; }
.no-floting { float: none; }
.hor-center { margin: auto; }
.hor-spacer-10 { margin-top: 10px; }
.rel { position: relative; }
.abs { position: absolute; }
.txt-center { text-align: center; }
.mTop25 { margin-top: 25px; }
.m-100{
    min-height: 100vh;
}
h2{
    font-size: 24px;
}
.bg-bluegray {
  background-color: rgba(18,109,190,0.08);
}

/**************************************************
    Buttons
***************************************************/

.button-container {
  border-radius: 4px;
  background: linear-gradient(180deg, #F22E06 0%, #CF2307 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  padding:8px 20px;
      white-space: nowrap;
}
.button-container.btn-lg{
	border-radius: 6px;
	padding:15px 40px;
	font-size: 16px;
}
.button-container:hover { 
	background: linear-gradient(180deg, #CF2307 0%, #F22E06 100%);
	color: #FFFFFF;
}
/**************************************************
    header
***************************************************/
header{
	background:#fff;
	padding:8px 0px;
}

.hero {
  padding: 40px 0px;
  background: linear-gradient(0deg, #1695C3 0%, #1160BD 23.04%, #12448D 47.61%, #00072F 90.83%, rgba(0,7,47,1) 100%);
  color:#fff;
}

.hero h1  {
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 32px;
  line-height: 48px;
}


.hero h3{
	color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin:24px 0px 48px;
}


.hero p{
	font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
.hero p span{
	display:block;
	margin-top:25px;
	margin-left:10px;
}

.slick-arrow{
	display:none !important;
}
.quote-carousel .responsive p {  
  color: rgba(34,34,34,1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
  min-height:180px;
  justify-content: center;
}
.quote-carousel .responsive .name{	
  color: rgba(34,34,34,1);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  margin-top:15px;
}
.quote-carousel .responsive  small { 
  color: rgba(68,68,68,1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  display:block;
}
.slick-dots {text-align:center; margin-top: 50px;}

.slick-dots  > li:only-child {
        display: none;
    
}
.slick-dots li {
	display: inline-block;
	margin:5px;
}
.slick-dots button{
	border:0px;
	text-indent:-9999px;
	border-radius:50%;
	background:#1487C1;
	opacity: 0.3;
	width:8px;
	height:8px;
	padding: 0px;
}
.slick-dots .slick-active button {
	background:#1487C1;
	opacity: 0.9;
}

.feaures  .featurette-heading {
	color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
}

.feaures  .lead {	
  color: #222222;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.feaures-sm h2 {
	color: #222222;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  /* text-align: center; */
  margin:30px 0px 20px;
}

.cta h3{
	color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  margin-bottom:24px;
}

footer{	
  transform: scaleY(-1);
  background: linear-gradient(0deg, rgba(8,45,90,1) 0%, rgba(4,28,81,1) 42.45%, rgba(7,4,48,1) 100%);
  padding:40px 0px;

}
footer .container{	
  transform: scaleY(-1);
  color: rgba(255,255,255,0.5); 
}
footer h4{
	color: #FEFFFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}
footer ul{
	margin:0px;
	padding:0px;
}
footer ul li {
	margin-top:10px;
}
footer ul li a, footer  a
{
  color: rgba(255,255,255,0.6);  
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
footer ul li a:hover, footer  a:hover{
	color: rgba(255,255,255,0.8); 
}



/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.py-100{
		padding:40px 0px;
	}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.navbar-brand img{
		max-width: 100%;
	}
	.py-100{
		padding:40px 0px;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	 .navbar-brand img{
		max-width: 40%;
	}
	
	.py-100{
		padding:80px 0px;
	}
	.hero {
		padding: 80px 0px !important;
	}
	
	.hero h1  {
		line-height: 60px;
	  font-size: 48px;
	}
	.hero h3{
		font-size: 20px;
		line-height: 32px;
	}
	.button-container.btn-lg{
		border-radius: 6px;
		padding:20px 60px;
		font-size: 20px;
	}
	
	
	.quote-carousel .responsive p {  
		font-size: 24px;	 
		line-height: 36px;
		justify-content: center;
	}

	.quote-carousel .responsive .name {  
		font-size: 24px;	 
		line-height: 32px;
	}
	
	.cta h3{
		font-size: 24px;
		line-height: 48px;
	}
		

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .navbar-brand img{
		max-width: 40%;
	}
	
	.py-100{
		padding:100px 0px;
	}
	.hero {
		padding: 100px 0px !important;
	}
	.hero h1  {
		line-height: 60px;
	  font-size: 48px;
	}
	.hero h3{
		font-size: 20px;
		line-height: 32px;
	}
	.button-container.btn-lg{
		border-radius: 6px;
		padding:20px 60px;
		font-size: 20px;
	}
	
	.quote-carousel .responsive p {  
		font-size: 24px;	 
		line-height: 36px;
		justify-content: center;

	}
	.quote-carousel .responsive .name {  
		font-size: 20px;	 
		line-height: 32px;
	}
	
	.feaures  .featurette-heading {
		font-size: 32px;
		line-height: 48px;
		font-weight:600;
	}
	
	.feaures-sm h2 {
	  font-size: 24px;
	}
	
	.cta h3{
		font-size: 24px;
		line-height: 48px;
	}
	footer{		
		padding:60px 0px;
	}
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}

